[user]
	name = Hendrik Hanff
	email = hendrik.hanff@dfki.de
        signingkey = 5078C42536CBF46B
[core]
	excludesfile = /home/hhanff/.gitexcludes
	filemode = true
	editor = nano
[merge]
	tool = diffuse
        prompt = false
[diff]
	tool = /usr/bin/diffuse
        algorithm = patience
	guitool = meld
	color = true
[difftool]
	prompt = false
[color]
	branch = auto
	diff = auto
	status = auto
	ui = true
[push]
	default = matching
[github]
	user = hhanff
[format]
	signoff = true
[alias]
	reset = reset --soft HEAD^
	graph = log --graph --oneline --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[credential]
	helper = cache
[push]
	default = simple
[commit]
  gpgsign = true
